*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    flex-wrap: wrap;
}
main, footer{
    padding: 40px;
}
header{
    background-color: rgb(115, 69, 202);
    width: 100%;
    height: 250px;
    color: white;
}
nav{
    background-color: rgb(44, 43, 43);
    width: 100%;
    height: 70px;
    color: white;
    padding: 30px;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}
main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    background-color: rgb(44, 43, 43);
    width: 100%;
    height: 130rem;
    border-radius: 2rem;
    margin: 1rem;
    margin-top: 3rem;
    border: 2px solid gray;
}
footer{
    background-color: rgb(97, 93, 93);
    width: 100%;
    border-radius: 2rem;
    margin: 1rem;
    margin-top: 8px;
    height: 120px;
    border: 2px solid gray;
}
header img{
    width: 100%;
    height: 250px;
}
.sect0{
    display: flex;
    justify-content: space-around;
}
section a{
    text-decoration: none;
    color: white;
    margin-left: 80px;
}
.art1{
    grid-column: 1/4;
    font-size: 40px;
    color: white;
    margin-top: 4rem;
    text-align: center;
}
footer p{
    color: white;
    text-align: center;
    font-size: 25px;
}
.sect1{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-column: 1/4;
    margin-bottom: 5rem;
}
.art2{
    grid-column: 1/2;
}
.art3{
    grid-column: 2/4;
    color: white;
    font-size: 19px;
    padding: 1rem;
    padding-left: 1.5rem;
}
section img{
    height: 90%;
    width: 100%;
}
.sect2{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-column:1/4;
    margin-bottom: 5rem;
}
section .art11{
    grid-column: 3/3;
}
section .art22{
    grid-column: 1/3;
    grid-row: 1/1;
    color: white;
    font-size: 19px;
    padding: 1rem;
    padding-left: 1.5rem;
}
.sect3{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-column: 1/4;
    margin-bottom: 5rem;
}
.art01{
    grid-column: 1/2;
}
.art02{
    grid-column: 2/4;
    color: white;
    font-size: 19px;
    padding: 1rem;
    padding-left: 1.5rem;
}
.sect4{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-column:1/4;
    margin-bottom: 5rem;
}
section .art10{
    grid-column: 3/3;
}
section .art20{
    grid-column: 1/3;
    grid-row: 1/1;
    color: white;
    font-size: 19px;
    padding: 1rem;
    padding-left: 1.5rem;
}
